:root {
    /* Font styles */
    --text-color-standard: black;

    /* Padding styles */
    --padding-small: 0.5rem;
    --padding-standard: 1rem;
    --padding-large: 1.5rem;

    /* Brand colors */
    --color-primary: green;

    /* Border styles */
    --border-standard: 1px solid #c0c0c0;
}